body {
  max-width: fit-content;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0;
}

h2 {
  margin: 60px 40px 120px 20px;
  font-size: 35px;
}

h3 {
  font-size: 27px;
}

p {
  font-size: 20px;
  font-weight: 400;
}

#Hero {
  background-image: url(./img/cresent.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  height: 650px;
}

#HeroContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 370px;
}

#Title {
  margin-bottom: 0px;
  font-family: "STIX Two Text", serif;
  font-weight: 500;
  font-size: 70px;
  color: white;
  background-color: #589360;
  box-shadow: 0px 4px 5px 3px #0000005e;
  border-radius: 5px;
  padding: 7px 50px 3px 50px;
}

#Tagline {
  font-size: 27px;
  font-weight: 400;
  width: 800px;
  color: white;
  text-shadow: 0px 0px 4px #201e1a9f;
}

#Activities {
  text-align: center;
}

#ActivityColumns {
  display: flex;
  justify-content: space-around;
  padding: 0 40px;
}

#CentreColumn {
  border-right: solid 2px #8c8c8cc5;
  border-left: solid 2px #8c8c8cc5;
}

.div_activity {
  padding: 40px 50px 70px 50px;
}

.img_activityIcon {
  width: 200px;
  border-radius: 100%;
}

.p_activityContent {
  padding: 0px 5px 50px 5px;
  margin: 0;
}

.btn_bookHere {
  color: white;
  background-color: #94907a;
  padding: 15px 30px;
  font-weight: bolder;
  font-size: 19px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 12px #0000004b;
}

.btn_bookHere:hover {
  font-size: 20px;
  background-color: #767363;
}

.AccomodationEntry {
  display: flex;
  justify-content: center;
  columns: row;
  text-align: start;
  margin: 30px 150px 0 150px;
}

.img_accomodation {
  width: 350px;
  height: 350px;
  box-shadow: 4px 6px 7px #0000004b;
  border-radius: 5px;
}

#ApexHotel {
  margin-right: 70px;
}

.h2_accomodationHeading {
  text-align: start;
  margin-left: 0;
}

.div_accomodationContent {
  margin: 10px 70px 0 0px;
}

.h2_accomodationHeading {
  margin-bottom: 0;
}

.p_accomodationContent {
  margin-top: 10px;
  font-style: italic;
  font-weight: 500;
}

.div_accomodationDetails {
  display: flex;
}

.div_accomodationContacts {
  background-color: #589360;
  box-shadow: 0 4px 7px #0000004b;
  padding: 15px 30px;
  border-radius: 5px;
}

.Contact {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p_contact {
  padding-left: 5px;
  color: white;
  margin: 0;
}

.btn_websiteLink {
  margin-left: 20px;
  padding: 7px 7px;
  border: none;
  background-color: #94907a;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 7px #0000004b;
}

.btn_websiteLink:hover {
  font-size: 20px;
  background-color: #767363;
}

.img_websiteIcon {
  width: 40px;
  height: 40px;
}

.img_websiteIcon:hover {
  width: 45px;
  height: 45px;
}

.Icon {
  width: 30px;
  height: 30px;
}

#TourGuide {
  border: dashed 5px #5893606e;
  border-radius: 10px;
  margin: 150px 50px;
  padding: 70px 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#GuideContent {
  margin: 0 30px;
}

#TravelHeading {
  margin: 0;
  margin-bottom: 30px;
}

.p_guideText {
  width: 400px;
  font-weight: 400;
}

#GuideButton {
  margin-top: 20px;
}

#GuideCard {
  background-color: #589360;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  columns: row;
  margin: 0 20px;
  padding: 10px 30px;
  height: fit-content;
  width: 600px;
  border-bottom: solid 15px #37372f;
  border-radius: 7px;
}

#CardContent {
  height: min-content;
}

.img_guideImage {
  width: 200px;
  height: 200px;
  box-shadow: 4px 6px 7px #0000004b;
  border-radius: 5px;
}

#CardHeading {
  margin: 10px;
  margin-top: 30px;
  font-weight: 500;
}

.p_cardQuote {
  width: fit-content;
  font-weight: 300;
  font-style: italic;
  margin: 0 20px;
}

#Footer {
  background-color: #94907a;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 10px;
  border-top: solid 5px #37372f;
}
