body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

#Hero {
  background-image: url(./img/cresent.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  height: 650px;
}

#HeroContent {
  text-align: center;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 390px;
}

#Title {
  margin-bottom: 0px;
  font-family: "STIX Two Text", serif;
  font-size: 55px;
  color: white;
  background-color: #589360;
  box-shadow: 0px 4px 5px 3px #0000002b;
  border-radius: 3px;
  padding: 10px 50px 5px 50px;
}

#Tagline {
  font-size: 27px;
  font-weight: 500;
  width: 800px;
  color: white;
  text-shadow: 0px 0px 4px #201e1a9f;
}
